<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.practice.bom.util.log.MyLogLayout" />
		</encoder>
	</appender>
	
	<appender name="businessFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/practice-bom-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<MaxHistory>7</MaxHistory>
			<totalSizeCap>5GB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.practice.bom.util.log.MyLogLayout" />
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.practice.bom" level="INFO"/>
		
	<!-- MyBatis -->
	<logger name="org.mybatis" level="INFO" />
	
	<logger name="com.mongo" level="INFO"/>
	
	<logger name="java.sql.Statement" level="INFO" />  
	<logger name="java.sql.PreparedStatement" level="INFO" />  
	
	<logger name="org.springframework.data.mongodb" level="INFO"/>

	<logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="off" />
	<logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level="OFF"/>
	<logger name="org.eclipse" level="INFO"/>
	<logger name="org.mongodb.driver.cluster" level="INFO"/>
	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="businessFile" />
	</root>
	
</configuration>